<div class="row">
  <div class="offset-3 col-4">
    <div class="card">
      <div class="card-body">
        <form [formGroup]="loginForm" (ngSubmit)="login()">
          <div class="form-group">
            <label for="email">Email address</label>
            <input type="email" class="form-control" id="email" formControlName="email" placeholder="Enter email">
            <div *ngIf="formSubmited && loginForm.controls.email.errors && loginForm.controls.email.errors.required">
              <div class="alert alert-danger" role="alert">
                Email is required
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" formControlName="password" placeholder="Password">
            <div *ngIf="formSubmited && loginForm.controls.email.errors && loginForm.controls.email.errors.required">
              <div class="alert alert-danger" role="alert">
                Password is required
              </div>
            </div>

            <div *ngIf="formSubmited && formWithErrors">
              <div class="alert alert-danger" role="alert">
                Username or password are incorrect.
              </div>
            </div>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>